.advantages {
  padding-top: 112px;
}

.advantages ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages__icon-deadlines svg {
  position: absolute;
  width: 30px;
  height: 36px;
  top: 35px;
  fill: $blue;
}

.advantages__icon-suppliers svg {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 35px;
  fill: $blue;
}

.advantages__icon-confidentiality svg {
  position: absolute;
  width: 36px;
  height: 31px;
  top: 35px;
  fill: $blue;
}

.advantages__icon-cost svg {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 35px;
  fill: $blue;
}

.advantages ul h2 {
  font-family: $roboto-con;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  color: $blue;
  position: relative;
}

.advantages ul li {
  border: 1px solid #EBEBEB;
  border-left: 3px solid $blue;
  flex-basis: calc((100% / 2) - 15px);
  margin-bottom: 29px;
  padding: 73px 35px 30px 43px;
  min-height: 300px;
  position: relative;
  max-width: 49%;
  background-color: $white;

  &:hover {
    background-color: $blue;
    cursor: pointer;
    color: $white;
    border: 1px solid $blue;
    border-left: 3px solid $blue;
    & h2 {
      color: $white;
    }
    & svg {
      fill: $white;
    }
  }
}

.advantages ul p {
  font-family: $pt-mono;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
}


@media (max-width: 1024px) {}
@media (max-width: 1023px) {
  .advantages {
        padding-top: 55px;
  }

  .advantages ul li {
    padding: 46px 18px 29px 25px;
    margin: 0 0 28px;
    border-left: 2px solid #00b2ff;
    min-height: auto;
    min-width: 250px;
  }

  .advantages ul h2 {
    margin-bottom: 10px;
  }

  .advantages__icon-deadlines svg {
    width: 30px;
    height: 36px;
    top: 24px;
  }

  .advantages__icon-suppliers svg {
    width: 32px;
    height: 32px;
    top: 23px;
  }

  .advantages__icon-confidentiality svg {
    width: 30px;
    height: 26px;
    top: 26px;
  }

  .advantages__icon-cost svg {
    width: 32px;
    height: 32px;
    top: 23px;

  }
}
@media (max-width: 767px) {
  .advantages {
    padding-top: 40px;
  }

  .advantages ul li {
    flex-basis: calc(100%/1);
    margin-bottom: 29px;
    padding: 54px 15px 30px 25px;
    margin: 0;
    margin: 0 0 21px;
    border-left: 3px solid #00b2ff;
    min-width: 290px;
    max-width: 100%;
  }

  .advantages ul {
    justify-content: center;
  }

  .advantages ul h2 {
    font-size: 20px;
    line-height: 28px;
  }

  .advantages ul li:nth-child(2) {
    padding-right: 10px;
  }

  .advantages ul li:nth-child(3) h2 {
    max-width: 230px;
  }
}
