.footer {
  width: 100%;
  background-color: #FAFAFA;
}

.footer__wrapper {
  max-width: 1452px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  display: flex;
  padding: 50px 25px 57px 21px;
}

.footer__wrap-copyright {
  border-top: 1px solid rgba(95, 105, 98, .2);
}

.footer__copyright {
  max-width: 1452px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  min-height: 52px;
}

.footer__confidentiality,
.footer__developed {
  color: #1b2d37;
}

.footer__confidentiality:hover,
.footer__developed:hover {
  color: $blue;
}

.footer__address {
  min-width: auto;
  padding-left: 78px;
}

.footer-contaner {
  flex-basis: 33.333%;
}

.footer__logo-img {
  display: flex;
}

.footer__logo-img a {
  display: flex;
  width: 55px;
}

.footer__logo-img p {
  font-family: $roboto-con;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 14px;
  color: #203C42;
  padding-top: 28px;
  padding-left: 10px;
  width: 165px;
}

.footer__logo-img a img {
  margin-top: 15px;
}

.footer__logo-img p span {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #788891;
  font-family: $roboto;
}

.footer__logo ul li {
  margin-right: 15px;
}

.footer__logo ul li svg {
  fill: #CDCDCD;
}

.footer__logo ul li svg:hover {
  fill: $blue;
  cursor: pointer;
}

.footer__logo ul {
  display: flex;
  margin-top: 50px;
  align-items: center;
}

.footer__span {
  display: none;
}

.footer__nav {
  min-width: 570px;
  margin-right: 25px;
  padding-left: 0px;
}

.footer__nav h2 {
  font-family: $roboto-con;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  margin: 0;
  padding-left: 31px;
  margin-top: 12px;
  margin-bottom: 28px;
  text-transform: uppercase;
}

.footer__nav ul {
  display: flex;
  flex-wrap: wrap;
}

.footer__nav ul li {
  min-width: 285px;
  padding-left: 30px;
}

.footer__nav ul li a {
  font-family: $pt-mono;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #1B2D37;
  opacity: 0.5;
}

.footer__nav ul li a:hover {
  opacity: 1;
}

.footer__address h3 {
  font-family: $roboto-con;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  color: #1B2D37;
  margin: 0;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 25px;
}

.footer__address p,
.footer__address a {
  font-family: $pt-mono;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #1B2D37;
  opacity: 0.5;
}

.footer__address a {
  display: block;
}

.footer__address a:hover {
  opacity: 1;
  cursor: pointer;
}

.footer__copyright ul {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
  padding-top: 15px;
}

.footer__copyright ul li:nth-child(4) {
  padding-left: 345px;
}

.footer__copyright ul li:nth-child(2) {
  padding-right: 69px;
}

.footer__copyright ul li {
  font-family: $pt-mono;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #1B2D37;
  opacity: 0.5;
  text-transform: uppercase;
}

@media (max-width: 1024px) {}

@media (max-width: 1023px) {
  .footer__logo-img p {
    line-height: 18px;
  }

  .footer__logo-img a img {
    margin-top: 9px;
  }

  .footer__logo-img p {
    padding-top: 16px;
  }

  .footer__wrapper {
    flex-wrap: wrap;
    padding: 0;
  }

  .footer__logo {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(95, 105, 98, .2);
    padding: 12px 7px 20px 26px;
  }

  .footer__logo ul {
    margin-top: 0;
  }

  .footer__span {
    font-family: $pt-mono;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    display: block;
    color: #1B2D37;
    opacity: 0.5;
  }

  .footer__nav {
    min-width: 0;
    margin-right: 0;
    flex-basis: 50%;
    padding-left: 0;
    padding: 0px 0px 0 26px;
  }

  .footer__nav ul {
    display: flex;
    flex-direction: column;
  }

  .footer__nav ul li {
    padding-left: 0px;
    order: 10;
  }

  .footer__nav ul li:nth-child(2) {
    order: 11;
  }

  .footer__nav ul li:nth-child(4) {
    order: 12;
  }

  .footer__nav ul li:nth-child(6) {
    order: 13;
  }

  .footer__nav h2 {
    padding-left: 3px;
    margin: 38px 0 28px;
  }

  .footer__address {
    flex-basis: 50%;
    max-width: 360px;
    padding-left: 0;
    padding: 0px 0px 0 15px;
  }

  .footer__address h3 {
    margin: 38px 0 25px;
  }

  .footer__copyright ul li:nth-child(1) {
    display: none;
  }

  .footer__copyright ul li:nth-child(2) {
    display: none;
  }

  .footer__copyright ul li:nth-child(4) {
    padding-left: 0;
  }

  .footer__copyright {
    padding-left: 24px;
    padding-right: 24px;
  }

  .footer__copyright ul {
    padding-bottom: 30px;
    padding-top: 20px;
  }

  .footer__wrap-copyright {
    margin-top: 33px;
  }
}

@media (max-width: 767px) {
  .footer__logo {
    flex-direction: column;
    border-bottom: none;
    padding: 38px 0 0 0;
  }

  .footer__logo ul li {
    margin-right: 10px;
    padding-left: 7px;
  }

  .footer__wrapper {
    padding: 0;
    display: block;
  }

  .footer__nav {
    flex-basis: 100%;
    margin-top: 54px;
    border-top: 1px solid rgba(95, 105, 98, .2);
    border-bottom: 1px solid rgba(95, 105, 98, .2);
    min-width: 290px;
    padding: 0 0 0 15px;
  }

  .footer__nav h2 {
    margin: 0 0 28px;
    margin-top: 30px;
    position: relative;
  }

  .footer__address {
    flex-basis: 100%;
    max-width: 100%;
    padding-right: 0;
    min-width: auto;
  }

  .footer__copyright ul {
    flex-direction: column;
    align-items: center;
    padding-bottom: 31px;
    padding-top: 53px;
  }

  .footer__copyright ul li:nth-child(4) {
    padding-top: 20px;
  }

  .footer__address h3 {
    margin: 25px 0 34px;
    position: relative;
  }

  .footer__address p {
    padding-right: 20px;
  }

  .footer__wrap-copyright {
    margin-top: 0;
  }

  .footer__logo-img {
    margin-bottom: 24px;
  }

  .footer__logo-img p {
    padding-top: 20px;
    padding-left: 15px;
  }

  .footer__logo ul {
    margin-top: 30px;
  }

  .footer__hidden {
    display: none;
  }

  .footer-contaner__collapse::before {
    content: "";
    position: absolute;
    background-image: url("../img/plus.png");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    top: 0;
    right: 5%;
  }

  .footer-contaner__collapse.active::before {
    content: "";
    position: absolute;
    background-image: url("../img/minus.png");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    top: 7px;
    right: 5%;
  }

  .footer-contaner__collapse:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .footer__span {
    text-transform: uppercase;
  }
}
