.goods-services {
  background-color: #1B2D37;
  width: 100%;
  margin-top: 91px;
}

.goods-services__wrap {
  margin: 0 auto;
  max-width: 1210px;
  padding: 0 20px;

}

.goods-services__wrap h2 {
  font-family: $roboto-con;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: $white;
  letter-spacing: 0.03rem;
  margin: 0;
  padding-top: 87px;
  padding-bottom: 54px;
}

.goods-services__wrap ul li a h3 {
  font-family: $roboto-con;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: $white;
  display: flex;
  margin: 0;
  width: 307px;
  padding: 50px 91px 60px 40px;
}

.goods-services__wrap ul li a {
  display: flex;
}

.goods-services__wrap ul {
  display: flex;
  padding-bottom: 75px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.goods-services__wrap ul li {
  min-height: 620px;
  max-width: 370px;
  display: flex;
  justify-content: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
  flex-basis: 33.333%;
  margin-bottom: 50px;
  width: calc(30% - 30px);
}

.goods-services__link:hover {
  background-color: rgba(27, 45, 55, .2);
}

.goods-services__link {
  background-color: rgba(27, 45, 55, 0.8);

}

.goods-services__goods--1 {
  background-image: url("../img/goods-desk-1.jpg");
}

.goods-services__goods--2 {
  background-image: url("../img/goods-desk-2.jpg");
}

.goods-services__goods--3 {
  background-image: url("../img/goods-desk-3.jpg");
}

.goods-services__pointer span {
  position: relative;
  width: 63px;
  height: 63px;
  background-color: $blue;
}

.goods-services__pointer span::before {
  position: absolute;
  content: "";
  top: 25px;
  left: 25px;
  width: 15px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(-45deg);
}

.goods-services__pointer {
  display: flex;
  align-items: flex-end;
}

@media (max-width: 1024px) {}

@media (max-width: 1023px) {
  .goods-services {
    margin-top: 75px;
    min-width: 500px;
  }

  .goods-services__wrap h2 {
    font-size: 32px;
    line-height: 45px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 80px;
    padding-left: 5px;
  }

  .goods-services__wrap ul li {
    max-width: 100%;
    margin-bottom: 46px;
    flex-basis: calc(100%/1);
    min-height: 256px;
    margin-right: 0;
  }

  .goods-services__wrap ul {
    padding-bottom: 32px;
  }

  .goods-services__wrap ul li a {
    width: 100%;
  }

  .goods-services__wrap ul li a h3 {
    padding: 40px 70px 60px 50px;
    max-width: 285px;
    margin-right: auto;
  }

  .goods-services__wrap ul li:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .goods-services__goods--1 {
    background-image: url("../img/goods-tablet-1.jpg");
  }

  .goods-services__goods--2 {
    background-image: url("../img/goods-tablet-2.jpg");
  }

  .goods-services__goods--3 {
    background-image: url("../img/goods-tablet-3.jpg");
  }
}

@media (max-width: 767px) {
  .goods-services {
    min-width: 320px;
    margin-top: 65px;
  }

  .goods-services__wrap {
    padding: 0 16px;
  }

  .goods-services__wrap h2 {
    font-size: 28px;
    line-height: 39px;
    padding-right: 0px;
    padding-left: 5px;
    padding-bottom: 40px;
  }

  .goods-services__wrap ul {
    justify-content: center;
    padding-bottom: 36px;
  }

  .goods-services__wrap ul li {
    max-width: 100%;
    min-height: 256px;
    margin-bottom: 30px;
  }
  .goods-services__wrap ul li a h3 {
    padding: 19px 25px 60px 35px;
  }

  .goods-services__goods--1 {
    background-image: url("../img/goods-mob-1.jpg");
  }

  .goods-services__goods--2 {
    background-image: url("../img/goods-mob-2.jpg");
  }

  .goods-services__goods--3 {
    background-image: url("../img/goods-mob-3.jpg");
  }

  .goods-services__pointer span::before {
    top: 27px;
    left: 26px;
    width: 8px;
    height: 8px;
    border-width: 0 2px 2px 0;
  }
}
