.goods-services {
  background-color: #1B2D37;
  width: 100%;
  margin-top: 91px;
}

.goods-services__wrap {
  margin: 0 auto;
  max-width: 1210px;
  padding: 0 20px;
}

.goods-services .wrapper h2 {
  font-family: $roboto-con;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: $white;
  letter-spacing: 0.03rem;
  margin: 0;
  padding: 87px 0 54px 0;
}

.goods-services__goods a h3 {
  font-family: $roboto-con;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: $white;
  display: flex;
  margin: 0;
  width: 100%;
  position: relative;
  z-index: 25;
  padding: 45px 155px 0 43px;
}

.goods-services__list {
  display: flex;
  padding-bottom: 75px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.goods-services__goods {
  min-height: 620px;
  max-width: 370px;
  display: flex;
  flex-basis: 33.333%;
  margin-bottom: 50px;
  width: calc(30% - 30px);
  overflow: hidden;
}

.goods-services__goods:hover {
  transition: All 0.3s ease;
  border: 1px solid $blue;
  overflow: hidden;
}

.goods-services__goods {
  display: block;
  position: relative;
  transition: All 0.3s ease;
  border: 1px solid transparent;
  width: 100%;
}

.goods-services__link {
  opacity: 0.3;
}

.goods-services__link img {
  position: absolute;
  width: auto;
  height: 100%;
}

.goods-services__pointer span {
  position: relative;
  width: 63px;
  height: 63px;
  background-color: $blue;
}

.goods-services__pointer {
  display: flex;
  align-items: flex-end;
  position: relative;
  width: 63px;
  margin-left: auto;
  margin-top: 450px;
}

.goods-services__pointer::before {
  content: "";
  width: 63px;
  height: 63px;
  background-color: #00b2ff;
}

.goods-services__pointer::after {
  position: absolute;
  content: "";
  bottom: 21px;
  left: 23px;
  width: 15px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(-45deg);
}

@media (max-width: 1024px) {}

@media (max-width: 1023px) {
  .goods-services {
    margin-top: 75px;
    min-width: 500px;
  }

  .goods-services .wrapper h2 {
    font-size: 32px;
    line-height: 45px;
    padding: 50px 80px 50px 5px;
  }

  .goods-services__goods {
    max-width: 100%;
    margin-bottom: 46px;
    flex-basis: calc(100%/1);
    min-height: 256px;
    margin-right: 0;
  }

  .goods-services__list {
    padding-bottom: 30px;
  }

  .goods-services__goods a {
    width: 100%;
  }

  .goods-services__goods a h3 {
    padding: 37px 70px 60px 43px;
    max-width: 285px;
    margin-right: auto;
  }

  .goods-services__goods:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .goods-services__link img {
    position: absolute;
    width: 100%;
    height: auto;
  }

  .goods-services__pointer {
    margin-top: 34px;
  }
}

@media (max-width: 767px) {
  .goods-services {
    min-width: 320px;
    margin-top: 65px;
  }

  .goods-services .wrapper {
    padding: 0 16px;
  }

  .goods-services .wrapper h2 {
    font-size: 28px;
    line-height: 39px;
    padding-right: 0px;
    padding-left: 5px;
    padding-bottom: 40px;
    padding: 50px 0 40px 5px;
  }

  .goods-services__list {
    justify-content: center;
    padding-bottom: 36px;
  }

  .goods-services__goods {
    max-width: 100%;
    min-height: 256px;
    margin-bottom: 30px;
  }

  .goods-services__goods a h3 {
    padding: 21px 80px 60px 34px;
  }

  .goods-services__pointer::after {
    bottom: 27px;
    left: 26px;
    width: 8px;
    height: 8px;
    border-width: 0 2px 2px 0;
  }

  .goods-services__pointer {
    margin-top: 50px;
  }
}
