.main-title {
  max-width: 1452px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  position: relative;
  z-index: 5;
  margin-top: 229px;
}

.main-title h1 {
  font-family: $roboto-con;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: $white;
  margin-bottom: 27px;
  margin-top: 0;
  max-width: 780px;
}

.main-title p {
  position: relative;
  font-family: $pt-mono;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  color: $white;
  margin-left: 95px;
  max-width: 680px;
}

.main-title p:nth-child(2) {
  position: relative;
}

.main-title__white-line {
  content: "";
  position: absolute;
  top: 18px;
  left: -97px;
  width: 66px;
  height: 2px;
  background: $white;
}

.main-title__link {
  display: flex;
  max-width: 407px;
  margin-left: 93px;
  margin-top: 45px;
  margin-bottom: 40px;
  border-radius: 5px;
  background-color: #00B2FF;
  border: 1px solid $blue;
  outline: none;
  cursor: pointer;
  transition: All 0.3s ease;
}

.main-title__link p {
  font-family: $roboto-con;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  margin-top: 45px;
  padding: 16px 38px 16px 34px;
  text-align: center;
  max-width: 400px;
  min-width: 400px;
  min-height: 55px;
  letter-spacing: 0.05em;
  margin-bottom: 45px;
  margin: 0;
  transition: All 0.3s ease;
}

.main-title__link:hover {
  background: $white;
  color: $blue;
  border: 1px solid $blue;
  transition: All 0.3s ease;
}

.main-title__link p:hover {
  color: $blue;
  transition: All 0.3s ease;
}

.main-title__link p:nth-child(2) {
  display: none;
}

.main-title img {
  position: absolute;
  right: -55px;
  top: -198px;
  z-index: -1;
  height: auto;
  width: 49%;
}

@media (max-width: 1024px) {
  .main-title h1 {
    max-width: 570px;
  }

  .main-title p {
    max-width: 420px;
  }
}

@media (max-width: 1023px) {
  .main-title {
    margin: 112px auto 0;
  }

  .main-title__link {
    margin-top: 55px;
    margin-left: 118px;
    max-width: 380px;
  }

  .main-title h1 {
    font-size: 60px;
    line-height: 70px;
    max-width: 485px;
    margin-left: 70px;
  }

  .main-title p {
    font-size: 18px;
    max-width: 470px;
    line-height: 29px;
    margin-left: 119px;
  }

  .main-title__white-line {
    width: 33px;
    left: -47px;
  }

  .main-title__link p {
    max-width: 380px;
    min-width: 380px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 16px;
    line-height: 19px;
    margin-left: 0;
  }

  .main-title img {
    right: -203px;
    top: -213px;
    width: 530px;
    height: 492px;
  }
}

@media (max-width: 767px) {
  .main-title {
    padding-left: 17px;
    padding-right: 16px;
    margin:230px auto 0;
  }

  .main-title h1 {
    font-size: 40px;
    line-height: 47px;
    margin-left: 0;
    margin-top: 227px;
  }

  .main-title p {
    font-size: 16px;
    line-height: 25px;
    margin-left: 49px;
  }

  .main-title__white-line {
    top: 15px;
    left: -48px;
  }

  .main-title__link p {
    margin-top: 0;
    margin-left: 0px;
    max-width: 290px;
    min-width: 287px;
    min-height: 55px;
    letter-spacing: .07em;
    padding: 13px 28px 16px 20px;
  }

  .main-title__link {
    margin-top: 41px;
    max-height: 55px;
    margin-left: 0;
    max-width: 290px;
  }

  .main-title__link p:nth-child(1) {
    display: none;
  }

  .main-title__link p:nth-child(2) {
    display: block;
  }

  .main-title__link p::before {
    display: none;
  }

  .main-title img {
    right: -325px;
    top: -330px;
    width: 615px;
    height: 482px;
  }
}
