.page-header {
  width: 100%;
  overflow: hidden;
  min-height: 878px;
  background-color: #1b2d37;
  background-image: url("../img/wave-background.png");
}

.page-header__wrap {
  max-width: 1452px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  display: flex;
  padding-top: 34px;
  justify-content: space-between;
  position: relative;
  z-index: 22;
}

.page-header__logo {
  display: inherit;
}

.page-header__logo-text {
  margin: 4px 0px 0 16px;
}

.page-header__logo-text p {
  font-family: $roboto-con;
  color: $white;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
}

.page-header__logo-text span {
  font-family: $roboto;
  color: #788891;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

.page-header__form ul {
  margin: 2px 3px 0 0;
  display: flex;
  align-items:center;
  flex-wrap: wrap;
}

.page-header__form ul a {
  display: flex;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $white;
}

.page-header__mail:hover,
.page-header__tel:hover {
  opacity: 0.7;
}

.page-header__call:hover {
  color: $blue;
  opacity: 1;
}

.page-header__form li {
  min-width: 25%;
  max-width: 54%;
  padding-left: 48px;
}

.page-header__form li:nth-child(5n + 1) {
  padding-right: 40px;
}

.page-header__call {
  max-width: 180px;
}

.page-header__call:hover {
  background-color: $white;
  border-radius: 8px;
  max-width: 180px;
}

.page-header__form ul img {
  margin-right: 16px;
}

.page-header__call {
  font-family: $roboto-con;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  border: 1px solid $white;
  width: 181px;
  min-height: 45px;
  padding: 14px 23px 13px 25px;
  border-radius: 8px;
  letter-spacing: 1px;
  background: transparent;
  outline: none;
  color: $white;
}

.page-header__scroll-link {
  font-family: $pt-mono;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $white;
  opacity: 0.5;
  position: absolute;
  top: 417px;
  left: -22px;
  width: 100px;
  transform: rotate(-90deg);
}

.page-header__scroll-link:hover {
  color: $blue;
  opacity: 1;
}

@media (max-width: 1024px) {
  .page-header__form li {
    margin-left: 10px;
  }

  .page-header__form li:nth-child(1) {
    margin-right: 0px;
  }

  .page-header__form ul img {
    margin-right: 10px;
  }

  .page-header__scroll-link {
    display: none;
  }
}

@media (max-width: 1023px) {
  .page-header {
    min-height: 685px;
    min-width: 500px;
  }

  .page-header__wrap {
    padding-left: 25px;
    padding-top: 22px;
  }

  .page-header__form ul p,
  .page-header__call {
    display: none;
  }

  .page-header__form ul img {
    width: 25px;
    height: 18px;
    margin-right: 0;
  }

  .page-header__form li:nth-child(2) img {
    width: 25px;
    height: 24px;
  }

  .page-header__form li {
    margin-left: 3px;
    padding-left: 0;
  }

  .page-header__form ul {
    margin: 10px 0 0 0;
    min-width: auto;
  }

  .page-header__form li:nth-child(1) {
    margin-right: 30px;
  }

  .page-header__form li:nth-child(5n+1) {
    padding-right: 0;
  }

  .page-header__scroll-link {
    display: none;
  }
}

@media (max-width: 767px) {
  .page-header {
    min-height: 645px;
    min-width: 320px;
  }

  .page-header__wrap {
    padding-left: 17px;
    padding-top: 17px;
    padding-right: 14px;
  }

  .page-header__logo-img img{
    width: 38px;
    height: 38px;
  }

  .page-header__logo-text {
    display: none;
  }

  .page-header__form ul {
    margin: 6px 0 0 0;
    min-width: 70px;
  }

  .page-header__form li {
    margin-left: -5px;
  }
}
