.page-header {
  width: 100%;
  overflow: hidden;
  min-height: 878px;
  background-color: #1b2d37;
  background-image: url("../img/wave-background.png");
}

.page-header__wrap {
  max-width: 1452px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  display: flex;
  padding-top: 34px;
  justify-content: space-between;
}

.page-header__logo {
  display: inherit;
}

.page-header__logo-text {
  margin: 4px 0px 0 16px;
}

.page-header__logo-text p {
  font-family: $roboto-con;
  color: $white;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
}

.page-header__logo-text span {
  font-family: $roboto;
  color: #788891;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

.page-header__form ul {
  margin: 2px 3px 0 0;
  display: flex;
  align-items:center;
}

.page-header__form ul a {
  display: flex;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $white;
}

.page-header__form li {
  margin-left: 48px;
}

.page-header__form li:nth-child(1) {
  margin-right: 42px;
}

.page-header__form li:nth-child(1) {
  margin-left: 0;
}

.page-header__form ul img {
  margin-right: 16px;
}

.page-header__form ul li p:nth-child(1) {
  font-family: $roboto-con;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  border: 1px solid $white;
  width: 181px;
  min-height: 45px;
  padding: 14px 23px 13px 25px;
  border-radius: 8px;
  letter-spacing: 1px;
}

.page-header__form ul li p:nth-child(1):hover {
  background-color: $blue;
}

@media (max-width: 1024px) {
  .page-header__form li {
    margin-left: 10px;
  }

  .page-header__form li:nth-child(1) {
    margin-right: 0px;
  }

  .page-header__form ul img {
    margin-right: 10px;
  }
}

@media (max-width: 1023px) {
  .page-header {
    min-height: 685px;
    min-width: 500px;
  }

  .page-header__wrap {
    padding-left: 25px;
    padding-top: 22px;
  }

  .page-header__form ul p {
    display: none;
  }

  .page-header__form ul img {
    width: 25px;
    height: 18px;
    margin-right: 0;
  }

  .page-header__form li:nth-child(2) img {
    width: 25px;
    height: 24px;
  }
  .page-header__form li {
    margin-left: 3px;
  }
  .page-header__form ul {
    margin: 10px 0 0 0;
  }
  .page-header__form li:nth-child(1) {
    margin-right: 30px;
  }
}

@media (max-width: 767px) {
  .page-header {
    min-height: 645px;
    min-width: 320px;
  }

  .page-header__wrap {
    padding-left: 17px;
    padding-top: 17px;
  }

  .page-header__logo-img img{
    width: 38px;
    height: 38px;
  }

  .page-header__logo-text {
    display: none;
  }

  .page-header__form ul {
    margin: 6px 0 0 0;
  }

  .page-header__form li {
    margin-left: -5px;
  }
}
