.wrapper {
  margin: 0 auto;
  max-width: 1210px;
  padding: 0 20px;
}

@media (max-width: 1024px) {}

@media (max-width: 768px) {
  .wrapper {
    padding: 0 26px;
    min-width: 500px;
  }
}

@media (max-width: 320px) {
  .wrapper {
    padding: 0 14px;
    min-width: 320px;
  }
}
